{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 80,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
